# IDE
.vscode/

# CACHE
**/__pycache__/**
.pytest_cache
.testmondata

# DATASET
dataset/
dataset
DATASET/
DATASET

# models
*.zip
*.pt.zip
*.pt
*.pth
*.onnx

# video
./src/video

# Log
tensorboard/
wandb/

# test
.coverage

# ETC
tools.ipynb